<head>
  <link rel="stylesheet" type="text/css" href="homepage.css">
</head>

<!--if not logged in-->
<% if session[:user_id] %>
    <form action="/logout" method="post">
      <button type="submit">Logout</button>
    </form>
    <h2>Current Users</h2>
    <h4>sort</h4>
    <form action="/sort" method="post">
      <input type="radio" name="order" value="asc" id="asc" select>Ascending<br>
      <input type="radio" name="order" value="desc" id="desc">Descending<br>
      <button type="submit">Sort</button>
    </form>

    <ul>
      <% @database_connection.sql(@order_user_string).each do |user| %>
          <% if user["id"] != session[:user_id] %>
              <li><%= user["username"] %></li>
          <% end %>
      <% end %>
    </ul>
    <h1>Delete user</h1>
    <form action="/delete" method="post">
      <select name="delete_user" id="delete_user">
        <% @database_connection.sql(@order_user_string).each do |user| %>
            <option value="<%=user["id"]%>"><%=user["username"]%></option>
        <% end %>
      </select>
      <button type="submit">Submit</button>
    </form>

    <h1>Create Fish</h1>
    <form action="/create_fish" method="post" name="create_fish">
        Fish <input type="text" name="fishname" id="fishname">
        Wikipedia link <input type="text" name="wikilink" id="wikilink">
      </select>
      <button type="submit">Create</button>
    </form>

    <h1>Your Fish</h1>
    <ul>
      <% @database_connection.sql("SELECT * FROM fish WHERE user_id = '#{session[:user_id]}'").each do |fish| %>
              <li><%= fish["name"] %> <%= fish["url"] %></li>
      <% end %>
    </ul>
    <h1>Other User's Fish</h1>
    <form action="/fish_list" method="post">
      <select name="fish_list" id="fish_list">
        <% @database_connection.sql(@order_user_string).each do |user| %>
            <option value="<%=user["id"]%>"><%=user["username"]%></option>
        <% end %>
      </select>
      <button type="submit">Check Fish</button>

    </form>


    <!--<form action="/login" method="post"><button type="submit">Sort</button></form>-->
<% else %>
    <a href="/registration">Registration</a>

    <form action="/login" method="post">
      username <input type="text" name="username">
      password <input type="password" name="password">
      <button type="submit">Login</button>
    </form>

<% end %>